<html>
    <head>
        <script src="../js/code.js"></script>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>
    <body>
    <div>
        <form action="../Controller/loginController.php" method="post" onsubmit="return validacionForm()">
            <label for="email_admin">Email:</label><br>
            <input id="email_admin" type="email" id="email_admin" name="email_admin" id="email_admin"><br>
            <label for="passwd_admin">Password:</label><br>
            <input id="passwd_admin" type="password" id="passwd_admin" name="passwd_admin" id="passwd_admin"><br>
            <input type="submit" value="Iniciar sesion">
        </form>
    </div>
    </body>
</html>